#category_area {
    background-color: #33ffee;
    border-radius: 15px;
}
#container_area {
    margin: 0;
    padding-top: 68px;
}
#autopause_on {
    margin-right: 10px;
}
#autopause_off {
    margin-right: 10px;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.cate-body{
    padding-bottom: 10px;
}
.main-app {
    flex: 1;
}

@media screen and (max-width:768px) {
    .navbar{
        min-height: 5%;
    }
    #navbar_container{
        min-height: 100%;
    }
    .navbar-toggler{
        width: 10%;
        min-height: 100%;
    }
    #autopause_on {
        margin-right: 10px;
        font-size: 30px;
    }
    #autopause_off {
        margin-right: 10px;
        font-size: 30px;
    }
    #heading{
        width: 40%;
        text-align: center; /* 水平居中 */
        font-size: 60px;
    }
    #lang{
        font-size: 40px;
    }
    .dropdown-item {
        font-size: 32px;
    }
    #container_area {
        margin: 0;
        padding-top: 14%;
    }
    #category_area{
        height: 100px;
    }
    #かわいい{
        font-size: 90px;
    }
}