html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
label {
    user-select: none;
}
.navbar{
    background-color: #9f6e71;
}
.dropdown-menu{
    background-color: #9f6e71;
}
.navbar.fixed-top{
    position: sticky;
    z-index: 999;
}
.offcanvas-header,.offcanvas-body{
    background-color: #4f3738;
}
#SidebarLabel{
    text-align: center;
}
.options{
    padding-bottom: 10px;
}
#category_area {
    background-color: #fdb5cd;
    text-align: center;
    border-radius: 15px;
    font-size: 25px;
}
#container_area {
    flex-grow: 1;
    margin: 0;
    padding-top: 10px;
}
#autopause_on {
    margin-right: 10px;
}
#autopause_off {
    margin-right: 10px;
}
.cate-body{
    padding-bottom: 10px;
}
.cate-body button{
    background-color: #eb5d85;
    margin-top: 10px;
}
.cate-body button:hover{
    background: #fdb5cd;
}
.cate-body button:active{
    background: #fdb5cd;
}
.cate-body button:focus{
    background: #d93848;
}
.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 1000px) {
    .navbar button{
        font-size: 60px;
    }
    #autopause_on{
        font-size: 30px;
    }
    #autopause_off{
        font-size: 30px;
    }
    .navbar a{
        font-size: 40px;
    }
    #SidebarLabel{
        font-size: 40px;
    }
    #category_area{
        font-size: 60px;
    }
    .cate-body{
        text-align: center;
        padding: 15px;
    }
    .cate-body button{
        font-size: 45px;
    }
}